<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.FeedbackAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.FeedbackAttachment">
        <id column="id" property="id" />
        <result column="feedback_id" property="feedbackId" />
        <result column="attachment" property="attachment" />
        <result column="type" property="type" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <select id="getByApplyId" resultMap="BaseResultMap">
        select a.id,a.feedback_id,a.attachment,a.type,a.is_deleted
        from feedback f left join feedback_attachment a on f.id=a.feedback_id
        where f.application_id = #{applicationId} and a.is_deleted=0
    </select>
</mapper>
