<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.User">
        <id column="id" property="id" />
        <result column="user_No" property="userNo" />
        <result column="grade" property="grade" />
        <result column="user_password" property="userPassword" />
        <result column="type" property="type" />
        <result column="college" property="college" />
        <result column="user_name" property="userName" />
        <result column="gpa" property="gpa" />
        <result column="email" property="email" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <update id="addMessageNumber">
        update user set message_number = message_number + 1 where id=#{userId}
    </update>

</mapper>
